

<div class="main-content">
<script type="text/javascript">
    jQuery(document).ready(function($) {
        // Notifications
        setTimeout(function() {
            var opts = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-right toast-default",
                "toastClass": "black",
                "onclick": null,
                "showDuration": "100",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            toastr.info("You have been awarded with 1 year free subscription. Enjoy it!", "Account Subcription Updated", opts);
        }, 3000);

        // Charts
        var xenonPalette = ['#68b828', '#7c38bc', '#0e62c7', '#fcd036', '#4fcdfc', '#00b19d', '#ff6264', '#f7aa47'];

        // Pageviews Visitors Chart
        var i = 0,
            line_chart_data_source = [
                { id: ++i, part1: 4, part2: 2 },
                { id: ++i, part1: 5, part2: 3 },
                { id: ++i, part1: 5, part2: 3 },
                { id: ++i, part1: 4, part2: 2 },
                { id: ++i, part1: 3, part2: 1 },
                { id: ++i, part1: 3, part2: 2 },
                { id: ++i, part1: 5, part2: 3 },
                { id: ++i, part1: 7, part2: 4 },
                { id: ++i, part1: 9, part2: 5 },
                { id: ++i, part1: 7, part2: 4 },
                { id: ++i, part1: 7, part2: 3 },
                { id: ++i, part1: 11, part2: 6 },
                { id: ++i, part1: 10, part2: 8 },
                { id: ++i, part1: 9, part2: 7 },
                { id: ++i, part1: 8, part2: 7 },
                { id: ++i, part1: 8, part2: 7 },
                { id: ++i, part1: 8, part2: 7 },
                { id: ++i, part1: 8, part2: 6 },
                { id: ++i, part1: 15, part2: 5 },
                { id: ++i, part1: 10, part2: 5 },
                { id: ++i, part1: 9, part2: 6 },
                { id: ++i, part1: 9, part2: 3 },
                { id: ++i, part1: 8, part2: 5 },
                { id: ++i, part1: 8, part2: 4 },
                { id: ++i, part1: 9, part2: 5 },
                { id: ++i, part1: 8, part2: 6 },
                { id: ++i, part1: 8, part2: 5 },
                { id: ++i, part1: 7, part2: 6 },
                { id: ++i, part1: 7, part2: 5 },
                { id: ++i, part1: 6, part2: 5 },
                { id: ++i, part1: 7, part2: 6 },
                { id: ++i, part1: 7, part2: 5 },
                { id: ++i, part1: 8, part2: 5 },
                { id: ++i, part1: 6, part2: 5 },
                { id: ++i, part1: 5, part2: 4 },
                { id: ++i, part1: 5, part2: 3 },
                { id: ++i, part1: 6, part2: 3 },
            ];

        $("#pageviews-visitors-chart").dxChart({
            dataSource: line_chart_data_source,
            commonSeriesSettings: {
                argumentField: "id",
                point: { visible: true, size: 5, hoverStyle: { size: 7, border: 0, color: 'inherit' } },
                line: { width: 1, hoverStyle: { width: 1 } }
            },
            series: [
                { valueField: "part1", name: "报警次数", color: "#68b828" },
                { valueField: "part2", name: "误报次数", color: "#eeeeee" },
            ],
            legend: {
                position: 'inside',
                paddingLeftRight: 5
            },
            commonAxisSettings: {
                label: {
                    visible: false
                },
                grid: {
                    visible: true,
                    color: '#f9f9f9'
                }
            },
            valueAxis: {
                max: 25
            },
            argumentAxis: {
                valueMarginsEnabled: false
            },
        });


        // Server Uptime Chart
        var bar1_data_source = [
            { year: 1, europe: 10, americas: 0, africa: 5 },
            { year: 2, europe: 20, americas: 5, africa: 15 },
            { year: 3, europe: 30, americas: 10, africa: 15 },
            { year: 4, europe: 40, americas: 15, africa: 30 },
            { year: 5, europe: 30, americas: 10, africa: 20 },
            { year: 6, europe: 20, americas: 5, africa: 10 },
            { year: 7, europe: 10, americas: 15, africa: 0 },
            { year: 8, europe: 20, americas: 25, africa: 8 },
            { year: 9, europe: 30, americas: 35, africa: 16 },
            { year: 10, europe: 40, americas: 45, africa: 24 },
            { year: 11, europe: 50, americas: 40, africa: 32 },
        ];

        $("#server-uptime-chart").dxChart({
            dataSource: [
                { id: ++i, sales: 1 },
                { id: ++i, sales: 2 },
                { id: ++i, sales: 3 },
                { id: ++i, sales: 4 },
                { id: ++i, sales: 5 },
                { id: ++i, sales: 4 },
                { id: ++i, sales: 5 },
                { id: ++i, sales: 6 },
                { id: ++i, sales: 7 },
                { id: ++i, sales: 6 },
                { id: ++i, sales: 5 },
                { id: ++i, sales: 4 },
                { id: ++i, sales: 5 },
                { id: ++i, sales: 4 },
                { id: ++i, sales: 4 },
                { id: ++i, sales: 3 },
                { id: ++i, sales: 4 },
            ],

            series: {
                argumentField: "id",
                valueField: "sales",
                name: "Sales",
                type: "bar",
                color: '#7c38bc'
            },
            commonAxisSettings: {
                label: {
                    visible: false
                },
                grid: {
                    visible: false
                }
            },
            legend: {
                visible: false
            },
            argumentAxis: {
                valueMarginsEnabled: true
            },
            valueAxis: {
                max: 12
            },
            equalBarWidth: {
                width: 11
            }
        });


        // Resize charts
        $(window).on('xenon.resize', function() {
            $("#server-uptime-chart").data("dxChart").render();
        });

    });

    function networkRealtimeChartTick(min_max, min_max2) {
        var $ = jQuery,
            i = 0;

        var chart_data = $('#realtime-network-stats').dxChart('instance').option('dataSource');

        var count = $('#realtime-network-stats').data('iCount');

        $('#realtime-network-stats').data('iCount', count + 1);

        chart_data.shift();
        chart_data.push({ id: count + 1, x1: between(min_max[0], min_max[1]), x2: between(min_max2[0], min_max2[1]) });

        $('#realtime-network-stats').dxChart('instance').option('dataSource', chart_data);
    }

    function networkRealtimeGaugeTick() {
        var nr_gauge = jQuery('#network-realtime-gauge').dxCircularGauge('instance');

        nr_gauge.value(between(50, 200));
    }

    function networkRealtimeMBupdate() {
        var $el = jQuery("#network-mbs-packets"),
            options = {
                useEasing: true,
                useGrouping: true,
                separator: ',',
                decimal: '.',
                prefix: '',
                suffix: 'mb/s'
            },
            cntr = new countUp($el[0], parseFloat($el.text().replace('mb/s')), parseFloat(between(10, 25) + 1 / between(15, 30)), 2, 1.5, options);

        cntr.start();
    }

    function between(randNumMin, randNumMax) {
        var randInt = Math.floor((Math.random() * ((randNumMax + 1) - randNumMin)) + randNumMin);

        return randInt;
    }
</script>
<div class="row">
    <div class="col-sm-3">

        <div class="xe-widget xe-counter xe-counter-purple" data-count=".num" data-from="1" data-to="117" data-suffix="家" data-duration="3" data-easing="false">
            <div class="xe-icon">
                <i class="linecons-user"></i>
            </div>
            <div class="xe-label">
                <strong class="num">1</strong>
                <span>企业总数</span>
            </div>
        </div>

        <div class="xe-widget xe-counter xe-counter-info" data-count=".num" data-from="134" data-to="726" data-duration="4" data-easing="true">
            <div class="xe-icon">
                <i class="linecons-camera"></i>
            </div>
            <div class="xe-label">
                <strong class="num">100</strong>
                <span>年平均报警次数</span>
            </div>
        </div>

    </div>
    <div class="col-sm-6">

        <div class="chart-item-bg">
            <div class="chart-label">
                <div class="h3 text-secondary text-bold" data-count="this" data-from="0.00" data-to="14.85" data-suffix="%" data-duration="1">0.00%</div>
                <span class="text-medium text-muted">报警企业比例</span>
            </div>
            <div id="pageviews-visitors-chart" style="height: 298px;"></div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="chart-item-bg">
            <div class="chart-label chart-label-small">
                <div class="h4 text-purple text-bold" data-count="this" data-from="0" data-to="95" data-suffix="家" data-duration="1.5">0</div>
                <span class="text-small text-upper text-muted">新增企业</span>
            </div>
            <div id="server-uptime-chart" style="height: 134px;"></div>
        </div>

        <div class="chart-item-bg">
            <div class="chart-label chart-label-small">
                <div class="h4 text-secondary text-bold" data-count="this" data-from="0.00" data-to="120.45" data-decimal="," data-duration="2">0</div>
                <span class="text-small text-upper text-muted">月平均报警次数</span>
            </div>
            <div id="sales-avg-chart" style="height: 134px; position: relative;">
                <div style="position: absolute; top: 25px; right: 0; left: 40%; bottom: 0"></div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/TweenMax.min.js"></script>
<script src="~/Scripts/resizeable.js"></script>
<script src="~/Scripts/joinable.js"></script>
<script src="~/Scripts/xenon-api.js"></script>
<script src="~/Scripts/xenon-toggles.js"></script>


<!-- Imported scripts on this page -->
<script src="~/Scripts/xenon-widgets.js"></script>
<script src="~/Scripts/devexpress-web-14.1/js/globalize.min.js"></script>
<script src="~/Scripts/devexpress-web-14.1/js/dx.chartjs.js"></script>
<script src="~/Scripts/toastr/toastr.min.js"></script>


<!-- JavaScripts initializations and stuff -->
<script src="~/Scripts/xenon-custom.js"></script>
